
<div *ngIf="local">
    <h2><span jhiTranslate="qsTrabalhoDisciplinaApp.local.detail.title">Local</span> {{local.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="qsTrabalhoDisciplinaApp.local.centro">Centro</span></dt>
        <dd>
            <span>{{local.centro}}</span>
        </dd>
        <dt><span jhiTranslate="qsTrabalhoDisciplinaApp.local.bloco">Bloco</span></dt>
        <dd>
            <span>{{local.bloco}}</span>
        </dd>
        <dt><span jhiTranslate="qsTrabalhoDisciplinaApp.local.sala">Sala</span></dt>
        <dd>
            <span>{{local.sala}}</span>
        </dd>
        <dt><span jhiTranslate="qsTrabalhoDisciplinaApp.local.externo">Externo</span></dt>
        <dd>
            <span>{{local.externo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'local/'+ local.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
