<div>
    <h2>
        <span jhiTranslate="qsTrabalhoDisciplinaApp.local.home.title">Locals</span>
        <button class="btn btn-primary float-right jh-create-entity create-local" [routerLink]="['/', { outlets: { popup: ['local-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="qsTrabalhoDisciplinaApp.local.home.createLabel">
            Create new Local
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="locals">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="qsTrabalhoDisciplinaApp.local.centro">Centro</span></th>
            <th><span jhiTranslate="qsTrabalhoDisciplinaApp.local.bloco">Bloco</span></th>
            <th><span jhiTranslate="qsTrabalhoDisciplinaApp.local.sala">Sala</span></th>
            <th><span jhiTranslate="qsTrabalhoDisciplinaApp.local.externo">Externo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let local of locals ;trackBy: trackId">
                <td><a [routerLink]="['../local', local.id ]">{{local.id}}</a></td>
                <td>{{local.centro}}</td>
                <td>{{local.bloco}}</td>
                <td>{{local.sala}}</td>
                <td>{{local.externo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../local', local.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'local/'+ local.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'local/'+ local.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
