
<div *ngIf="programa">
    <h2><span jhiTranslate="qsTrabalhoDisciplinaApp.programa.detail.title">Programa</span> {{programa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="qsTrabalhoDisciplinaApp.programa.sigla">Sigla</span></dt>
        <dd>
            <span>{{programa.sigla}}</span>
        </dd>
        <dt><span jhiTranslate="qsTrabalhoDisciplinaApp.programa.nome">Nome</span></dt>
        <dd>
            <span>{{programa.nome}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'programa/'+ programa.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
